* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 50px;
    width: 100%;
    background-color: #ff9a4b;
}
.main-visual {
    width: 960px;
    display: flex;
    margin: 0 auto;
    padding: 50px 0;
}
.contents {
    width: 300px;
    margin-right: 30px;
    background-color: #eeeeee;
    position: relative;
    padding: 10px;
}
.contents:last-child {
    margin-right: 0;
}

.step {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff9a4b;
    color: white;
}
#img1 {
    background-image: url(img/flow01.png);
    height: 150px;
    background-position: bottom;
    background-size: cover;
}
#img2 {
    background-image: url(img/flow02.png);
    height: 150px;
    background-position: bottom;
    background-size: cover;
}
#img3 {
    background-image: url(img/flow03.png);
    height: 150px;
    background-position: bottom;
    background-size: cover;
}
.title {
    padding-top: 15px;
    padding-bottom: 5px;
}
footer {
    height: 50px;
    background-color: #aaaaaa;
}
@media screen and (max-width:768px){
    * {
        width: 100%;
    }
    .main-visual {
        flex-direction: column;
        width: 90%;
    }
    .contents {
        width: 100%;
        margin-bottom: 20px;
    }
}